@()(implicit r: Request[_])
<!DOCTYPE html>

<html>
<head>
    <title>Live Tweets About MAGA</title>
    <link rel='stylesheet' href='@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script type='text/javascript' src='@routes.Assets.at("lib/jquery/jquery.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("lib/flot/jquery.flot.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
</head>
<body data-ws-url="@routes.HomeController.ws.webSocketURL()">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">TwitterStreamer</a>
            </div>
        </div>
    </div>

    <div id="stocks" class="container">

    </div>
    
    
    
    
    
    
    <!--<div ng-controller="TweetCtrl as tc">--><div>
        <div class="jumbotron">
            <h2>Live Twitter Streamer</h2>  
            <h3>Get the latest tweets about MAGA</h3>
        </div>
        <div>
            <button ng-click="tc.getAllTweets()">RELOAD</button>
            <div class="form-group">
                <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Tweets...">
                <hr>
            </div>
            <table id="tweet_list" class="table table-striped">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Tweet</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr ng-repeat="tweet in tc.tweets | filter:searchText">
                    <td>
                        {{ tweet.name }}
                    </td>
                    <td>
                        {{ tweet.text }}
                    </td>
                </tr>-->
                <tr ng-hide="tc.tweets.length">
                    <td colspan="3">
                        <p class="text-center">No Tweets Found</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
